---
import { site, nav } from '@src/gumori'

const { page, post } = Astro.props as {
  page: Page
  post: Post
}
---

<header>
  { page
  ? (<h1>{site.title}</h1>)
  : (<h2><a href="/">{site.title}</a></h2>)
  }
  {nav?.length && (
  <nav>
    <p>
      {nav.map(({ text, link }, index: number) => text && (
      <a href={link}>{text}</a>
      <>
        {index + 1 < nav.length && (<span>&nbsp;&nbsp;</span>)}
        </>
        ))}
    </p>
  </nav>
  )}
</header>