---
import { site } from '@src/gumori'

export interface Props {
    authors: FrontMatter['authors']
}

const { authors } = Astro.props
---

{(authors
? authors.map(author => typeof author === 'string' ? site.authors[author] : author)
: Object.values(site.authors)
.filter(author => author.default))
.map(({ name, url }: { [key: string]: string }, index: number, array: string | unknown[]) => (
<a class="p-author h-card" href={url}>{name}</a>
<>
    {index + 1 < array.length && (<span>, </span>)}
    </>
    ))}